PATH=/usr/local/bin:/usr/bin:/bin
DB_SERVER=${DB_SERVER}
DB_USER=${DB_USER}
DB_PASSWORD=${DB_PASSWORD}
DB_NAME=${DB_NAME}
EIS_SERVER=${EIS_SERVER}
EIS_NAME=${EIS_NAME}
ALERT_WEBHOOK=${ALERT_WEBHOOK}

# 每天9點到17點每分鐘執行一次
# * 1-9 * * * /usr/local/bin/python /app/dailypushoil.py >> /var/log/dailypushoil.log 2>&1
