{% extends "base.html" %}

{% block title %}輸入CPC 價格{% endblock %}

{% block content %}
<div class="container">
    <form action="/update_cpc" method="POST" class="card p-4" style="border: none;" id="submitForm">
        <fieldset>
            <legend style="font-weight: bold;">輸入CPC價格</legend>
            <div class="mb-3">
                <label for="date" class="form-label">日期(不可超過 {{ db_max_date }}):</label>
                <input type="date" id="cpc_date" name="cpc_date" class="form-control" required />

            </div>
            <div class="mb-3">
                <label for="cpc" class="form-label">CPC 值:</label>
                <input type="number" step="0.01" id="cpc_value" name="cpc_value" class="form-control" required/>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-lg">更新</button>
            </div>
        </fieldset> 

    </form>

</div>

<script>
    // 將後端傳來的 db_max_date 設為 <input type="date"> 的 max 屬性
    const dateInput = document.getElementById("cpc_date");
    const dbMaxDate = "{{ db_max_date }}";
    // 若有拿到 dbMaxDate, 設為 max
    if (dbMaxDate) {
        dateInput.setAttribute("max", dbMaxDate);
    }
</script>

{% endblock %}